:root {
  --color-main: rgb(85, 170, 170);
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
.main-bg{
  width: 100%;
  min-height: -webkit-fill-available;
  background-color: var(--color-main);;
}