:root {
  --menu-bg-color: rgb(206, 208, 207);
  --main-color: rgb(5, 6, 8);
  --active-color-gradient: linear-gradient(to right, rgb(0, 0, 128), rgb(16, 52, 166));
  --box-shadow-main: rgba(0, 0, 0, 0.35) 4px 4px 10px 0px, rgb(223, 224, 227) 1px 1px 0px 1px inset,
    rgb(136, 140, 143) -1px -1px 0px 1px inset;
  --box-shadow-btn: rgb(223, 224, 227) 1px 1px 0px 1px inset, rgb(136, 140, 143) -1px -1px 0px 1px inset;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.main-bg {
  min-height: 100vh;
  width: 100%;
  padding-top: 35px;
  background-color: #55aaaa;
}
.content-box {
  max-width: 1380px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 220px);
  justify-content: center;
  padding-top: 20px;
}
.pokemon-container {
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.pokemon-name {
  color: rgb(255, 255, 255);
  user-select: none;
  padding: 2px;
  text-decoration: underline;
}
/* header navbar */
.header-container {
  border-left-color: rgb(255, 255, 255);
  border-top-color: rgb(255, 255, 255);
  border-right-color: var(--main-color);
  border-bottom-color: var(--main-color);
  box-shadow: rgba(0, 0, 0, 0.35) 4px 4px 10px 0px, rgb(223, 224, 227) 1px 1px 0px 1px inset,
    rgb(136, 140, 143) -1px -1px 0px 1px inset;
  box-sizing: border-box;
  background-color: var(--menu-bg-color);
  color: var(--main-color);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 4px;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-style: solid;
  border-width: 2px;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-menu-btn {
  box-sizing: border-box;
  background-color: var(--menu-bg-color);
  color: var(--main-color);
  border-left-color: rgb(255, 255, 255);
  border-top-color: rgb(255, 255, 255);
  border-right-color: var(--main-color);
  border-bottom-color: var(--main-color);
  box-shadow: var(--box-shadow-btn);
  position: relative;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 35px;
  width: auto;
  font-size: 16px;
  border-style: solid;
  border-width: 2px;
  padding: 0px 0.5rem;
  font-weight: 600;
}
.windows-logo {
  transform: rotate(-20deg);
  margin-right: 5px;
  width: 25px;
}
/* input */
.input-container {
  position: relative;
  box-sizing: border-box;
  border-left-color: rgb(136, 140, 143);
  border-top-color: rgb(136, 140, 143);
  border-right-color: rgb(255, 255, 255);
  border-bottom-color: rgb(255, 255, 255);
  padding: 2px;
  border-style: solid;
  border-width: 2px;
  height: 32px;
}
.input-container::before {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
  content: "";
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border-left-color: var(--main-color);
  border-top-color: var(--main-color);
  border-right-color: rgb(223, 224, 227);
  border-bottom-color: rgb(223, 224, 227);
  pointer-events: none;
  box-shadow: rgba(0, 0, 0, 0.2) 3px 3px 10px inset;
  border-style: solid;
  border-width: 2px;
}
.search-input {
  outline: none;
  width: 100%;
  height: 100%;
  padding: 0 5px;
  border: none;
}
/* pop Up */
.pop-up-detail-bg,
.aboutPopUp-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2px;
  border: 2px solid;
  border-left-color: rgb(255, 255, 255);
  border-top-color: rgb(255, 255, 255);
  border-right-color: var(--main-color);
  border-bottom-color: var(--main-color);
  box-shadow: var(--box-shadow-main);
  box-sizing: border-box;
  display: inline-block;
  background-color: var(--menu-bg-color);
  color: var(--main-color);
}
.pop-up-detail-bg {
  min-height: 400px;
  width: 600px;
}
.pop-up-detail-header,
.aboutPopUp-header {
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 2px 4px 0;
  font-weight: bold;
  color: rgb(255, 255, 255);
  padding: 0px 0.5rem;
  background: var(--active-color-gradient);
}
.close-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 27px;
  width: 27px;
  font-size: 16px;
  padding: 0px;
  margin-right: -6px;
  margin-top: 1px;
  outline: none;
  background-color: var(--menu-bg-color);
  color: var(--main-color);
  border: 2px solid;
  border-left-color: rgb(255, 255, 255);
  border-top-color: rgb(255, 255, 255);
  border-right-color: rgb(5, 6, 8);
  border-bottom-color: rgb(5, 6, 8);
  box-shadow: var(--box-shadow-btn);
  font-weight: bold;
}
.exit-link-container {
  display: flex;
  align-items: center;
  padding: 4px;
}
.disabled-text-btn,
.active-text-btn {
  padding: 0 0.5rem;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 27px;
  font-size: 16px;
  background-color: transparent;
  border: 2px solid transparent;
  font-weight: 500;
}
.active-text-btn:hover{
  border:  2px solid;
  border-left-color: rgb(255, 255, 255);
  border-top-color: rgb(255, 255, 255);
  border-right-color: rgb(136, 140, 143);
  border-bottom-color: rgb(136, 140, 143);
}
.disabled-text-btn {
  color: rgb(136, 140, 143);
  text-shadow: rgb(255, 255, 255) 1px 1px;
}
.pokemon-detail {
  width: 95%;
  height: 270px;
  margin: 20px auto auto auto;
}
.pokemon-detail-menu {
  display: flex;
  align-items: center;
  padding-left: 8px;
}
.pokemon-detail-content {
  background-color: var(--menu-bg-color);
  color: var(--main-color);
  border-left-color: rgb(255, 255, 255);
  border-top-color: rgb(255, 255, 255);
  border-right-color: var(--main-color);
  border-bottom-color: var(--main-color);
  box-shadow: rgb(223, 224, 227) 1px 1px 0px 1px inset, rgb(136, 140, 143) -1px -1px 0px 1px inset;
  position: relative;
  display: flex;
  align-items: center;
  height: 90%;
  border-style: solid;
  border-width: 2px;
  padding: calc(1.5rem) 1rem 1rem;
}
.pokemon-detail-menu {
  height: 10%;
  margin-bottom: 4px;
}
.pokemon-detail-menu-item {
  box-sizing: border-box;
  display: inline-block;
  background-color: rgb(206, 208, 207);
  border-left-color: rgb(255, 255, 255);
  border-top-color: rgb(255, 255, 255);
  border-right-color: rgb(5, 6, 8);
  box-shadow: rgb(223, 224, 227) 1px 1px 0px 1px inset, rgb(136, 140, 143) -1px 1px 0px 1px inset;
  position: relative;
  height: 35px;
  line-height: 35px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: -2px;
  cursor: default;
  color: rgb(5, 6, 8);
  border-style: solid solid none;
  padding: 0px 0.5rem;
  border-bottom: none;
}
.pokemon-detail-menu-active-item {
  z-index: 1;
  height: calc(39px);
  top: -4px;
  margin-bottom: -6px;
  margin-left: -8px;
  margin-right: -8px;
  border-style: solid solid none;
  border-bottom: none;
  padding: 0px calc(0.5rem + 8px);
}
.pokemon-detail-img-container {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pokemon-detail-description-box {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.pokemon-detail-img {
  width: 85%;
  height: 85%;
}
.pokemon-detail-type-of-pokemon {
  color: rgb(255, 255, 255);
  margin: 12px 0 10px 0;
  display: flex;
  align-items: center;
}
.pokemon-type {
  padding: 5px;
}
.pokemon-type:first-of-type {
  margin-right: 7px;
}
.pokemon-description{
  margin-top: 10px;
}
.pokemon-height-and-weight{

}
.stats-container,
.abilities-container {
  z-index: 1;
  background-color: rgb(206, 208, 207);
  color: rgb(5, 6, 8);
  border-left-color: rgb(255, 255, 255);
  border-top-color: rgb(255, 255, 255);
  border-right-color: rgb(5, 6, 8);
  border-bottom-color: rgb(5, 6, 8);
  box-shadow: rgb(223, 224, 227) 1px 1px 0px 1px inset, rgb(136, 140, 143) -1px -1px 0px 1px inset;
  border-style: solid;
  border-width: 2px;
  padding: calc(1.5rem) 1rem 1rem;
}
.stats-content-container,
.abilities-content-container {
  width: 100%;
  position: relative;
  border: 2px solid;
  border-left-color: rgb(136, 140, 143);
  border-top-color: rgb(136, 140, 143);
  border-right-color: rgb(255, 255, 255);
  border-bottom-color: rgb(255, 255, 255);
  background-color: #fff;
  height: 100%;
}
.abilities-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.abilities-grid-container {
  display: grid;
  grid-template-columns: 50% 20% 30%;
  width: 100%;
}
.stats-content-container::before,
.abilities-content-container::before {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
  content: "";
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border-left-color: rgb(5, 6, 8);
  border-top-color: rgb(5, 6, 8);
  border-right-color: rgb(223, 224, 227);
  border-bottom-color: rgb(223, 224, 227);
  pointer-events: none;
  box-shadow: rgba(0, 0, 0, 0.2) 3px 3px 10px inset;
  border-style: solid;
  border-width: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.stats-table-heading,
.stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.stats {
  padding: 4px 10px;
}
.table-column-heading {
  border-right-color: rgb(5, 6, 8);
  border-bottom-color: rgb(5, 6, 8);
  box-shadow: rgb(223, 224, 227) 1px 1px 0px 1px inset, rgb(136, 140, 143) -1px -1px 0px 1px inset;
  display: inline-block;
  vertical-align: inherit;
  cursor: default;
  border-style: none solid solid none;
  border-width: 2px 2px;
  padding: 0px 0.5rem;
  background: rgb(206, 208, 207);
  border-left: none;
  border-top: none;
}
.table-column-heading-lg {
  width: 80%;
}
.table-column-heading-s {
  width: 20%;
}
.table-column {
  padding: 5px 10px;
}
.active-btn {
  box-sizing: border-box;
  background-color: rgb(206, 208, 207);
  color: rgb(5, 6, 8);
  border-left-color: rgb(5, 6, 8);
  border-top-color: rgb(5, 6, 8);
  border-right-color: rgb(255, 255, 255);
  border-bottom-color: rgb(255, 255, 255);
  box-shadow: rgb(136, 140, 143) 1px 1px 0px 1px inset, rgb(223, 224, 227) -1px -1px 0px 1px inset;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIElEQVQYV2P8////fwYGBgZGRkZGMI0hABIFAbgEugAAQFQP/QfjEPcAAAAASUVORK5CYII=);
  position: relative;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 35px;
  width: auto;
  font-size: 16px;
  border-style: solid;
  border-width: 2px;
  padding: 2px 0.5rem 0px;
}
.stats:hover,
.abilities-column-container:hover {
  background: var(--active-color-gradient);
  color: #fff;
}
button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
}
/* nav menu */
.nav-menu-container {
  width: auto;
  border-left-color: rgb(255, 255, 255);
  border-top-color: rgb(255, 255, 255);
  border-right-color: rgb(5, 6, 8);
  border-bottom-color: rgb(5, 6, 8);
  box-shadow: rgba(0, 0, 0, 0.35) 4px 4px 10px 0px, rgb(223, 224, 227) 1px 1px 0px 1px inset,
    rgb(136, 140, 143) -1px -1px 0px 1px inset;
  box-sizing: border-box;
  display: inline-block;
  background-color: rgb(206, 208, 207);
  color: rgb(5, 6, 8);
  position: absolute;
  bottom: 0px;
  left: 0px;
  transform: translate(0px, 100%);
  padding: 2px 4px 4px 2px;
  border-style: solid;
  border-width: 2px;
  list-style: none;
}
.menu-item {
  display: flex;
  align-items: center;
  height: 43px;
  padding: 0 10px;
}
.menu-item:hover {
  background-color: rgb(0, 0, 128);
  color: #fff;
}
.menu-icons {
  margin-right: 10px;
  height: 23px;
  width: 23px;
  cursor: context-menu;
}
.decorative-hr-line {
  width: 100%;
  border-bottom: 2px solid rgb(255, 255, 255);
  border-top: 2px solid rgb(136, 140, 143);
  margin: 0px;
}
.aboutPopUp-container p {
  margin-top: 1rem;
}
.aboutPopUp-container h1 {
  font-weight: 400;
  font-size: 2rem;
}
.aboutPopUp-container p {
  font-size: 18px;
}
.aboutPopUp-content-container {
  padding: 1rem;
}
.windows-loader{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}