:root {
  --menu-bg-color: rgb(206, 208, 207);
  --main-color: rgb(5, 6, 8);
  --box-shadow-main: rgba(0, 0, 0, 0.35) 4px 4px 10px 0px, rgb(223, 224, 227) 1px 1px 0px 1px inset,
    rgb(136, 140, 143) -1px -1px 0px 1px inset;
  --box-shadow-btn: rgb(223, 224, 227) 1px 1px 0px 1px inset, rgb(136, 140, 143) -1px -1px 0px 1px inset;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.main-bg {
  min-height: 100vh;
  width: 100%;
  padding-top: 35px;
  background-color: #55aaaa;
}
.content-box {
  max-width: 1380px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(6, 140px);
  justify-content: center;
}
.pokemon-container {
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.pokemon-name {
  color: rgb(255, 255, 255);
  user-select: none;
  padding: 2px;
  text-decoration: underline;
}
/* header navbar */
.header-container {
  border-left-color: rgb(255, 255, 255);
  border-top-color: rgb(255, 255, 255);
  border-right-color: var(--main-color);
  border-bottom-color: var(--main-color);
  box-shadow: rgba(0, 0, 0, 0.35) 4px 4px 10px 0px, rgb(223, 224, 227) 1px 1px 0px 1px inset,
    rgb(136, 140, 143) -1px -1px 0px 1px inset;
  box-sizing: border-box;
  background-color: var(--menu-bg-color);
  color: var(--main-color);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 4px;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-style: solid;
  border-width: 2px;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-menu-btn {
  box-sizing: border-box;
  background-color: var(--menu-bg-color);
  color: var(--main-color);
  border-left-color: rgb(255, 255, 255);
  border-top-color: rgb(255, 255, 255);
  border-right-color: var(--main-color);
  border-bottom-color: var(--main-color);
  box-shadow: var(--box-shadow-btn);
  position: relative;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 35px;
  width: auto;
  font-size: 16px;
  border-style: solid;
  border-width: 2px;
  padding: 0px 0.5rem;
  font-weight: 600;
}
.windows-logo {
  transform: rotate(-20deg);
  margin-right: 5px;
  width: 25px;
}
/* input */
.input-container {
  position: relative;
  box-sizing: border-box;
  border-left-color: rgb(136, 140, 143);
  border-top-color: rgb(136, 140, 143);
  border-right-color: rgb(255, 255, 255);
  border-bottom-color: rgb(255, 255, 255);
  padding: 2px;
  border-style: solid;
  border-width: 2px;
  height: 32px;
}
.input-container::before {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
  content: "";
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border-left-color: var(--main-color);
  border-top-color: var(--main-color);
  border-right-color: rgb(223, 224, 227);
  border-bottom-color: rgb(223, 224, 227);
  pointer-events: none;
  box-shadow: rgba(0, 0, 0, 0.2) 3px 3px 10px inset;
  border-style: solid;
  border-width: 2px;
}
.search-input {
  outline: none;
  width: 100%;
  height: 100%;
  padding: 0 5px;
  border: none;
}
/* pop Up */
.pop-up-detail-bg {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 400px;
  width: 600px;
  padding: 2px;
  border: 2px solid;
  border-left-color: rgb(255, 255, 255);
  border-top-color: rgb(255, 255, 255);
  border-right-color: var(--main-color);
  border-bottom-color: var(--main-color);
  box-shadow: var(--box-shadow-main);
  box-sizing: border-box;
  display: inline-block;
  background-color: var(--menu-bg-color);
  color: var(--main-color);
}
.pop-up-detail-header {
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 2px 4px 0;
  font-weight: bold;
  color: rgb(255, 255, 255);
  padding: 0px 0.5rem;
  background: linear-gradient(to right, rgb(0, 0, 128), rgb(16, 52, 166));
}
.close-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 27px;
  width: 27px;
  font-size: 16px;
  padding: 0px;
  margin-right: -6px;
  margin-top: 1px;
  outline: none;
  background-color: var(--menu-bg-color);
  color: var(--main-color);
  border: 2px solid;
  border-left-color: rgb(255, 255, 255);
  border-top-color: rgb(255, 255, 255);
  border-right-color: rgb(5, 6, 8);
  border-bottom-color: rgb(5, 6, 8);
  box-shadow: var(--box-shadow-btn);
  font-weight: bold;
}
.exit-link-container {
  display: flex;
  align-items: center;
  padding: 4px;
}
.disabled-text-btn,
.active-text-btn {
  padding: 0 0.5rem;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 27px;
  font-size: 16px;
  background-color: transparent;
  border: 2px solid transparent;
  font-weight: 500;
}
.disabled-text-btn {
  color: rgb(136, 140, 143);
  text-shadow: rgb(255, 255, 255) 1px 1px;
}
.active-text-btn {
}
.pokemon-detail {
  width: 80%;
  height: 270px;
  margin: 20px auto auto auto;
}
.pokemon-detail-menu {
  display: flex;
  align-items: center;
}
.pokemon-detail-content {
  background-color: var(--menu-bg-color);
  color: var(--main-color);
  border-left-color: rgb(255, 255, 255);
  border-top-color: rgb(255, 255, 255);
  border-right-color: var(--main-color);
  border-bottom-color: var(--main-color);
  box-shadow: rgb(223, 224, 227) 1px 1px 0px 1px inset, rgb(136, 140, 143) -1px -1px 0px 1px inset;
  position: relative;
  display: flex;
  align-items: center;
  height: 90%;
  border-style: solid;
  border-width: 2px;
  padding: calc(1.5rem) 1rem 1rem;
}
.pokemon-detail-menu {
  height: 10%;
}
.pokemon-detail-menu-item {
  box-sizing: border-box;
  display: inline-block;
  background-color: rgb(206, 208, 207);
  border-left-color: rgb(255, 255, 255);
  border-top-color: rgb(255, 255, 255);
  border-right-color: rgb(5, 6, 8);
  box-shadow: rgb(223, 224, 227) 1px 1px 0px 1px inset, rgb(136, 140, 143) -1px -1px 0px 1px inset;
  position: relative;
  height: 35px;
  line-height: 35px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: -2px;
  cursor: default;
  color: rgb(5, 6, 8);
  border-style: solid solid none;
  border-width: 2px 2px 2px;
  padding: 0px 0.5rem;
  border-bottom: none;
}
.pokemon-detail-img-container {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pokemon-detail-description-box {
  width: 60%;
  height: 100%;
  display: flex;
  /* justify-content: flex-start; */
  flex-direction: column;
}
.pokemon-detail-img {
  width: 85%;
  height: 85%;
}
