:root {
  --color-bg: #55AAAA:
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
.main-bg{
  width: 100%;
  min-height: -webkit-fill-available;
  background-color: var(--color-bg);;
}